<h1>Riwayat Pendidikan</h1>
<hr>
Nama lengkap : <%= nama %> <br>
    S1 : <%= nama %> <br>
        SMK : <%= nama %> <br>

<br>
<br>
<a href="/">
    <button class="button">beranda</button>
</a>
        