<h1>Input Karyawan</h1>

<% if (typeof pesanError !=='undefined' ) { %>
    <span style="color: red;">
        <%= pesanError[0].path +': '+ pesanError[0].msg +' '+ pesanError[0].value %>
    </span>
    <br><br>
<% } %>


<form action="/karyawan/proses-insert-data" method="post">
    <label for="">Nomor Induk Karyawan</label>
    <input type="text" name="form_nik" required>
    <br>
    <br>
    <label for="">Nama lengkap</label>
    <input type="text" name="form_nama">
    <br>
    <br>
    <label for="">Tanggal Lahir</label>
    <input type="date" name="form_tanggal_lahir">
    <br>
    <br>
    <label for="">Alamat</label><br>
    <textarea name="form_alamat" id="" rows="5" cols="50"></textarea>

    <button type="submit">simpan</button>

</form>